<link rel="stylesheet" href="resources/css/app.css" />
<ul class="nav nav-pills" style="font-size: xx-large;">
    <li role="presentation" class="active"><a href="/">首页</a></li>
    <li role="presentation"><a href="/profile">介绍</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
</ul>