#define($content)
    #include("head.vm")
<div class="container">
    <div class="row">
        <div class="col-xs-5 col-md-offset-0">
            <img class="img-responsive" src="/resources/bootstrap/img/index.jpg">
        </div>
        <div class="col-xs-5">
            <form action="/login" style="float:left;" method="post">
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Email</label>

                    <div class="controls">
                        <input type="text" id="inputEmail" name="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Password</label>

                    <div class="controls">
                        <input type="password" id="inputPassword" name="inputPassword" placeholder="Password">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox"> Remember me
                        </label>
                        <button type="submit" class="btn">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

#end

#define($title)
login
#end