#define($content)
    #parse("head.vm")
<div class="container">
    <div class="row">
        <div class="col-xs-5 col-md-offset-0">
            <img class="img-responsive" src="resources/bootstrap/img/index.jpg">
        </div>
    </div>
</div>

#end

#define($title)
login
#end