#define($content)
    #parse("head.vm")
<div class="container">
    <div class="col-md-offset-3">
        <a class="twitter-timeline" href="https://twitter.com/karaage_mayu"
           data-widget-id="585103416927641600">@karaage_mayu的推文</a>
    </div>
</div>
<script>!function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + "://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, "script", "twitter-wjs");</script>
<script id = "twitter-wjs" src="/resources/js/lib/widgets.js"></script>
#end

#define($title)
watanabemayu
#end