<!doctype html>
<head>
    <meta charset="utf-8">
    <title>$!title</title>
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css" />
</head>
<body>
$!content
<script src="resources/js/lib/angular/angular.min.js"></script>
</body>
</html>