#define($content)
    #parse("head.vm")
<div class="wrapper" ng-app="signup" ng-controller="signupController">
    <form class="form-signin">
        <h2 class="form-signin-heading">注册</h2>
        <input type="text" class="form-control" name="username" placeholder="用户名" data-ng-model="userName" required=""
               autofocus=""/>
        <br>
        <div class="alert alert-danger" role="alert" ng-show="noexist">用户名已存在</div>
        <input type="password" class="form-control" name="password" placeholder="密码" ng-model="password" required=""/>
        <button class="btn btn-lg btn-primary btn-block" ng-click="signup()">注册</button>
    </form>
</div>
#end
#define($jsFile)
<script src="/resources/js/controller/signup.js"></script>
#end