#define($content)
##    #foreach( $follow in $app )
##    <li class="myapp" id="$follow">应用:$follow</li>
##    <div id="div$follow"></div>
##    #end
    $title
<textarea name="textarea" class="sessionText" rows="10" cols="50" id="sessionText">$sessionData</textarea>
<div id="urlPath"hidden>$path</div>
<input type="text" class="command" />
#end
#define($jsFile)
<script src="/resources/js/controller/sshsession.js"></script>
#end